.bg-blue1{
	background: #faf7f3;
}
/*button glow*/
.btn--glow:before{
    content:'';
    position: absolute;
    left: -20%;
    top:-10%;
    width: 0;
    height: 100%;
    transform: rotate(15deg) scale(1, 2);
    box-shadow: 0 0 30px 15px rgba(255, 255, 255, 0.7);
    animation: button-glow 3000ms ease-in-out infinite;
  }
  @keyframes button-glow {
    0% {
      left: -20%;
    }
    50% {
      left: 120%;
    }
    100% {
      left: 120%;
    }
  }
  .btn--glow{
    overflow: hidden;
    position: relative;
  }
.banner-section {
  margin-top: 68px;
}
.detail_wrap {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
}
.detail_wrap span {
  background: var(--primary-color);
  min-width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 10px;
}
.detail_wrap h6 {
  margin: 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #ffffff29;
  padding: 7px 15px;
  border-radius: 50px;
  background: #333333;
}
.price_detail_wrap {
    background: #ffffff;
    overflow: hidden;
    /* margin-bottom: 20px; */
    display: flex;
    flex: 1;
}
.prices_slider_item {
    display: flex;
    justify-content: space-between;
}
.price_detail_top {
  padding: 30px 15px 10px;
  text-align: center;
  background: var(--primary-color);
  width: 100%;
  display: flex;
  flex-direction: column;
}
.price_detail_top .pricing {
    margin-top: auto;
}
.price_detail_top h3 {
  font-size: 32px;
  font-weight: 800;
  color: #fff;
}
.price_detail_top h5 {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 20px;
  min-height: 40px;
}
.price_detail_top h5 {
    margin-bottom: 20px;
}
.price_break_btn {
  background: var(--enquiry-color);
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  border: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}
.price_break_btn:hover{
	color: #000000;
}
/* footer */
footer {
    background: #1e1e1e;
    padding: 40px 20px 20px;
}
.copy_right {
    border-top: 1px solid #FFFFFF33;
    margin-top: 20px;
    padding-top: 20px;
}
.copy_right p{
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFFAD;
}
.copy_right .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.vst_left p {
  color: #515151;
  font-size: 15px;
  font-weight: 400;
}
.mainsectionrt p{
  color: #515151;
  font-size: 15px;
  font-weight: 400;
}
.btn2 {
  background: var(--primary-color);
  color: #ffffff;
  text-decoration: navajowhite;
  padding: 12px 30px;
  display: inline-block;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}
.btn2:hover{
	color: #ffffff;
}
/**/
.inp-box {
  font-size: 9px;
  display: flex;
  align-items: start;
  margin: 10px 0px;
}
.inp-box input {
  display: flex;
  width: 10px !important;
  margin-right: 5px;
  margin-top: 2px;
}
/*Amenities*/
#amenities {
  position: relative;
  background: #ffffff;
}
.amenities_wrap {
  background: #212121;
  height: 140px;
  margin-bottom: 20px;
  transition: all .5s linear;
  position: relative;
  text-align: center;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.amenities_wrap:hover {
  transition: all .5s linear;
}
.amenities_wrap:hover
img {
  transition:all .5s linear;
  transform:rotateY(360deg);
  opacity: 1;
}
.amenities_wrap:hover
h6 {
  color:#ffffff;
  transition:all .5s linear
}
.amenities_wrap h6 {
  font-size: 14px;
  font-weight: 400;
  color: var(--amenities-color);
  margin: 0;
  font-weight: 700;
}
.amenities_wrap img {
  margin-bottom: 0;
  width: 60px;
  height: 60px;
  object-fit: cover;
  opacity: .8;
  object-position: top;
  filter: brightness(0) invert(1);
  margin-bottom: 10px;
}
.amenities {
  margin-left:35px
}
/**/
/*Location*/
.location_map {
  height: 360px;
  margin-top: 20px;
  display: inline-block;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  border: 1px solid var(--primary-color);
}
.location_map span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: fit-content;
  background: var(--primary-color);
  color: #fff;
  text-align: center;
  padding: 10px;
  transform: translate(-50%, -50%);
  z-index: 99;
}
.location_map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(3px);
}
.location_details {
    margin-top: 20px;
}
.location_details h6 {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.location_details h6 img{
    margin-right: 20px;
}
.location_details ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
  width: 100%;
}
.location_details ul li {
  color: #3e3e3e;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  float: left;
  background: #ffffff;
  border: 1px solid rgba(var(--primary-color), 0.25);
  padding: 8px 10px 8px 30px;
  border-radius: 50px;
  margin-right: 5px;
}
.location_details ul li::after {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: contain;
    left: 8px;
    top: 14px;
}
/**/
/* floor plan */
#floor_plans {
    background: #fff;
    position: relative;
}
#floor_plans .container{
    position: relative;
    z-index: 9;
}
.floor_plans {
  overflow: hidden;
  margin-bottom: 22px;
  position: relative;
  display: inline-block;
  width: 100%;
  border: 1px solid rgba(var(--primary-color), 0.29);
}
.floor_plan_head {
  background: var(--primary-color);
  padding: 6px 10px;
  text-align: center;
  position: absolute;
  z-index: 9;
  top: 50%;
  left: -18px;
  transform: rotate(270deg);
}
.floor_plan_head h6 {
  margin: 0;
  color: #ffffff;
  font-size: 16px;
}
.floor_plan_image {
  position: relative;
  overflow: hidden;
  background: #fff;
}
.floor_plan_image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: blur(11px);
}
.floor_plan_image button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.floor_pian_title {
  margin-bottom: 40px;
  text-align: center;
}
/**/
.dwnload {
  margin-right:5px;
  transition:all .1s linear;
 animation:UpDown1 1s linear infinite
}
@keyframes
UpDown1 {
  0% {
    position:relative;
    bottom:0
  }
  50% {
    position:relative;
    bottom:3px
  }
  100% {
    position:relative;
    bottom:-3px
  }
}
/*Delayed popup*/
.backgroundOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #000000;
  opacity: 0.85;
  filter: alpha(opacity=85);
  -moz-opacity: 0.85;
  z-index: 9999;
  display: none;
}
/*   This is the Popup Window   */
.delayedPopupWindow {
    display: none;
    position: fixed;
    width: 450px;
    max-width: 670px;
    /* height: 310px; */
    top: 50%;
    left: 50%;
    background-color: #fff;
    z-index: 9999;
    transform: translate(-50%, -50%);
}
.delayed_popup_left ul li span {
    display: block;
    margin-bottom: 10px;
}
/*   This is the closing button  */
#btnClose {
    display: block;
    text-decoration: none;
    color: #ffe6e6;
    position: absolute;
    top: -30px;
    right: -30px;
    font-size: 30px;
    cursor: pointer;
}
/*   This is the closing button hover state  */
#btnClose:hover {
  color: #fec00b;
}
/*   This is the description headline and paragraph for the form   */
#delayedPopup > div.formDescription {
  float: left;
  display: block;
  width: 30%;
  padding: 65px 20px;
  font-size: 18px;
  color: #666;
  clear: left;
  background: var(--primary-color);
  height: 100%;
}
.delayed_popup_left ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.delayed_popup_left ul li {
    display: block;
    color: #acacac;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    background: #0000003b;
    padding: 20px;
    /* border-radius: 11px; */
    margin-bottom: 10px;
}
.delayed_popup_left h6 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}
delayed_popup_left ul li span {
    display: block;
    margin-bottom: 10px;
}
.delayed_popup_left ul li span img {
  width: 30px;
  filter: brightness(0) invert(1);
}
/*   This is the styling for the form's headline   */
#delayedPopup > div.formDescription h2 {
  color: #444444;
  font-size: 36px;
  line-height: 40px;
}
/* 
////////// MailChimp Signup Form //////////////////////////////
*/
/*   This is the signup form body  */
#delayedPopup #mc_embed_signup {
    float: left;
    width: 100%;
    padding: 20px 20px;
    display: block;
    font-size: 16px;
    color: #666;
    margin-left: 0;
}
.enquiry_form .inp-box {
    margin-top: 0;
}
/*   This is the styling for the signup form inputs  */
#delayedPopup #mc-embedded-subscribe-form input {
  width: 95%;
  height: 30px;
  font-size: 18px;
  padding: 3px;
  margin-bottom: 5px;
}
/*   This is the styling for the signup form inputs when they are being hovered with the mouse  */
#delayedPopup #mc-embedded-subscribe-form input:hover {
  border: solid 2px #40c348;
  box-shadow: 0 1px 3px #AAAAAA;
}
/*   This is the styling for the signup form inputs when they are focused  */
#delayedPopup #mc-embedded-subscribe-form input:focus {
  border: solid 2px #40c348;
  box-shadow: none;
}
/*   This is the styling for the signup form submit button  */
#delayedPopup #mc-embedded-subscribe {
  width: 100% !important;
  height: 40px !important;
  margin: 10px auto 0 auto;
  background: #5D9E62;
  border: none;
  color: #fff;
}
.enquiry_title {
    text-align: center;
    margin-bottom: 20px;
}
.enquiry_title h6 {
    font-size: 25px;
    font-weight: 600;
    color: #2d2d2d;
    text-transform: none;
    width: 330px;
    margin: 0 auto 10px;
}
.enquiry_title p {
    font-size: 14px;
    font-weight: 400;
}
.blink-soft {
    animation: blinker 1.5s linear infinite;
}
.text_red {
    color: #dc3545;
    font-weight: 600;
    text-transform: capitalize;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}
.delayed_popup_right button {
  width: 100%;
  background: var(--primary-color);
  border: none;
  color: #ffffff;
  padding: 10px 5px;
  font-size: 17px;
}
.enquiry_form input {
  width: 100%;
  margin-bottom: 16px;
  height: 40px;
  padding: 0 15px;
  border: 1px solid #d7d7d7;
}
.enquiry_form input::placeholder{
    font-size: 14px;
}
/**/
.tc {
  font-size: 10px;
  margin-bottom:10px;
}
.ftr_top p {
  font-size: 12px;
  color: #FFFFFFAD;
  text-align: center;
  line-height: 16px;
  font-weight: 200;
  margin: 0;
}
.ftr_top span {
  color: #fff;
  font-size: 14px;
  text-align: center;
  display: block;
}
.ftr_top strong{
  color: #fff;
  font-weight: 700;
}
.contact_link {
  text-decoration: none;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3px;
  font-size: 16px;
}
.contact_link:hover{
  color: #fff;
}
.common_padding_top{
  padding-top: 40px;
}
.common_padding_bottom{
  padding-bottom: 40px;
}
.common_padding_left {
  padding-left: 40px;
}
.common_padding_right {
  padding-right: 40px;
}
.common_sub_head_blk {
  color: var(--primary-color);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.head_centre {
  text-align: center;
  width: 510px;
  margin: 0 auto 30px;
}
.orange-bar{
  background: var(--primary-color);
    width: 100%;
    text-align: center;
    padding: 8px;
    animation: light 2s linear infinite;
    background: linear-gradient(-45deg, var(--primary-color), var(--primary-color), var(--primary-color), var(--primary-color));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02BC4D', endColorstr='#02BC4D',GradientType=4 );
    background-repeat: no-repeat;
    background-position: 10%;
    background-size: 300%;
}
@keyframes light {
  0% {
        background-position: 100%; 
  }
  100% { 
        background-position:0%; 
  }
}
.orange-bar a{
  text-decoration: none;
  color: #FFFFFF;
  font-size: 15px;
}
.orange-bar a{
  text-decoration: none;
  color: #FFFFFF;
  font-size: 15px;
}
.main_head {
  color: #272727;
  font-size: 32px;
  font-weight: 700;
}