html,
body {
  font-family: "Mulish", sans-serif;
  overflow-x: hidden;
}
* {
  outline: none;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--primary-color);
}
#banner-slider .owl-stage img{
  width: 100%;
   height:100%;
   object-fit: cover;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align: center;
}
#main-slider .owl-stage img{
  width: 100%;
   height:calc(100vh - 10px);
   object-fit: cover;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align: center;
}
.gallery_image {
  height: 500px;
  display: inline-block;
  width: 100%;
}
.left-side{
  width: 77%;
  background: #ededed;
}
.work-head {
  text-align: center;
}
.slider-content-div h1 {
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  margin: 10px 0px 20px;
}
.slider-content-div .text {
  color: #fff;
  font-size: 14px;
  margin: auto;
  border: 1px solid #c4a05f;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  background: var(--primary-color);
}
.highlight_wrap ul {
  padding: 0;
  margin: 0px 0px 30px;
  list-style: none;
}
.highlight_wrap ul li {
  position: relative;
  color: #fff;
  font-size: 14px;
  margin-bottom: 10px;
  padding-left: 30px;
  text-align: left;
}
.highlight_wrap ul li::after{
  position: absolute;
  content: '';
  width: 18px;
  height: 18px;
  top: 2px;
  left: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath fill='%23fff' fill-opacity='0' stroke-dasharray='64' stroke-dashoffset='64' d='M3 12c0 -4.97 4.03 -9 9 -9c4.97 0 9 4.03 9 9c0 4.97 -4.03 9 -9 9c-4.97 0 -9 -4.03 -9 -9Z'%3E%3Canimate fill='freeze' attributeName='fill-opacity' begin='0.6s' dur='0.15s' values='0;0.3'/%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.6s' values='64;0'/%3E%3C/path%3E%3Cpath stroke-dasharray='12' stroke-dashoffset='12' d='M7 12h10'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.75s' dur='0.2s' values='12;0'/%3E%3C/path%3E%3Cpath stroke-dasharray='12' stroke-dashoffset='12' d='M12 7v10'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.95s' dur='0.2s' values='12;0'/%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}
.slider-content-div span {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px;
  width: 100%;
  text-align: center;
  display: inline-block;
  background: #f0f8ff24;
  border: 1px solid #ffffff6e;
}
.banner-main-div {
  position: relative;
}
.slider-content-div {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background: #00000057;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 50px;
}
/* right side */
.right-side {
  height: 100vh;
  width: 23%;
  position: fixed;
  right: 0;
  top: 0;
  border-left: 1px solid #ececec;
  background: #ebedf9;
}
.bar-div {
    margin-bottom: 8px;
    padding: 0 4px;
}
.bar-section {
    padding: 5px 5px;
    border-bottom: 1px solid #0000001A;
}
.form-head h5 {
    color: #212529;
    font-size: 20px;
    margin: 0;
}
.fixed-form {
  margin: 15px 15px;
}
.service-form-div form input, textarea {
  border: .5px solid #FFFFFF3B;
  margin-bottom: 5px;
  padding: 6px 15px;
  outline: none;
  box-shadow: none;
  border-color: #0000000d;
  width: 100%;
}
.service-form-div form textarea {
  height: 66px;
}
.service-form-div form button {
  width: 100%;
  background: var(--primary-color);
  border: none;
  color: #ffffff;
  padding: 10px 5px;
  font-size: 17px;
}
.service-form-div form{
  display: inline-block;
  padding:8px 8px 20px 0;
 width: 100%;
}
.border-bottom-line{
  border-bottom: 1px solid #0000001A;
}
.service-form-div form input::placeholder, .service-form-div form textarea::placeholder {
  color: #808182;
  opacity: 1; 
  font-size: 13px!important;
}
.bg-white{
  background: #ffffff;
  /* background: #FFFFFF; */
}
#banner-slider {
  margin-top: 30px;
}
.contact_wrap {
  display: flex;
}
.contact_wrap a {
  background: var(--primary-color);
  text-decoration: none;
  color: #fff;
  width: 50%;
  border: 1px solid #fff;
  padding: 10px;
  font-size: 14px;
  text-align: center;
}
.contact_wrap {
  display: flex;
  padding: 0 3px;
}
#priceslider {
  margin-top: 20px;
  row-gap: 20px;
}

.blink {
  animation: blink 1s infinite;
  display: inline;
}

@keyframes blink {
  50% {
    color: var(--primary-color);
  }
}

#banner-slider .owl-nav button{
    height: 45px;
    width: 45px;
    background: #00000073 !important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main-slider .owl-dots {
  position: absolute;
  bottom: 64px;
    right: 30px;
    z-index: 9;
}
#main-slider .owl-dots button {
  width: 7px!important;
  height: 7px !important;
  background: #D9D9D994 !important;
  margin: 0 5px;
}
#main-slider .owl-dots .active{
  background: var(--primary-color)!important;
}
.response-view {
  display: none;
  position: relative;
  float: unset;
  width: 100%;
}
.mojopg {
    display: flex;
    justify-content: space-between;
}
/* fix-icons */
.fix_icons {
  position: fixed;
  right: 10px;
  top: 64%;
  z-index: 99999;
}
.fix_icons .fico {
  width: 38px;
  height: 38px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  animation: pulse-animation 2s infinite;
  font-size: 25px;
  background-color: var(--primary-color);
  margin-bottom: 10px;
  border: 1px solid #ffffff26;
}
.whts {
  font-size: 40px;
}
.fix_icons .fico1{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 42px;
margin-bottom:10px;
}
@keyframes pulse-animation {
0% {
  box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
}
100% {
  box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
}
}
/* fix-icons end */

/* thanks page */
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: var(--primary-color);
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: var(--primary-color);
  stroke-miterlimit: 10;
  margin-right: 10px;
  box-shadow: inset 0px 0px 0px var(--primary-color);
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}
.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #fff;
  }
}
.thankyou-icon-div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0 15px 0;
}
.thankyou-icon-div h1{
  font-size:40px;
    color: #212529;
    margin: 0;
}
.thankyou-main-div{
  text-align: center;
  padding-top: 148px;
}
.thanks-para p{
  color: #676767;
  font-size: 14px;
}
.thanks-btn button {
  background: var(--primary-color);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 0px;
  color: #fff !important;
  border-radius: 50px;
}
.thanks-btn button a{
  text-decoration: none;
  color: #ffffff;
}
.thanks-logo {
  margin-bottom: 10px;
}
.bottomfix div {
  background: var(--primary-color);
  width: 33.3%;
  padding: 10px;
  border-right: 1px solid #ffffff08;
}
.bottomfix a iconify-icon {
  display: flex;
  font-size: 20px;
  justify-content: center;
}
.highlight_wrap {
  background: var(--primary-color);
  padding: 40px;
  width: 469px;
  backdrop-filter: blur(8px);
}
.highlight_wrap h6 {
  color: #ffffffa8;
  margin: 0;
  font-size: 14px;
}
.tc iconify-icon, .inp-box iconify-icon {
  color: var(--primary-color);
  font-size: 13px;
  margin-right: 3px;
  margin-bottom: -3px;
}
.mainsectionrt .main_head {
  margin-bottom: 5px;
}
.mainsectionrt span {
  font-size: 14px;
  margin-bottom: 20px;
  display: flex;
  color: #00000091;
}
#highlights{
  background: #fff;
}
.highlights {
  position: relative;
  padding: 50px 0px;
}
.highlights::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 70%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.highlights_right {
  background: #fff;
  position: relative;
  z-index: 9;
  padding: 30px;
}
.highlights_right ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.highlights_right ul li {
  position: relative;
  color: #515151;
  font-size: 15px;
  margin-bottom: 10px;
  padding-left: 30px;
}
.highlights_right ul li::after {
  position: absolute;
  content: '';
  width: 18px;
  height: 18px;
  top: 2px;
  left: 0;
}
.highlights_left{
  display: none;
}
.highlights_left img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}